/* ==========스터디========== */
.CsStudyBackground {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: url(../../asset/images/SelfstudyImg/CsStudyBackground.png) center no-repeat;
  background-size: 100% 100%;
}

.StudyContainer {
  position: absolute;
  width: 70vw;
  height: 70vh;
  top: 5vh;
  left: 25vw;
}

.StudyCompnentDiv{
  margin-top: 10vh;
}
.StudyCompnent {
  text-align: center;
  height: 10vw;
  border: 0.4em inset #e2fffc;
  margin: 1vw;
  margin-top: 1vh;
  background-color: white;
  cursor: pointer;
}
.showingMarkdown {
  position: absolute;
  top: 0vh;
  height: 70vh;
  width: 70vw;
  border: 0.4em solid #ddfffc;
  margin: 0 auto;
  margin-top: 10vh;
  overflow: scroll;
  background-color: white;
  z-index: 100;
}

.showingMarkdown::-webkit-scrollbar {
  width: 0.5vw;
  height: 0;
  background-color: white;
}
.showingMarkdown::-webkit-scrollbar-thumb {
  background-color: #a5fffe;
  border-radius: 20px;
}
.showingMarkdown::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
  background-color: #ebffff;
}

.paginationBar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10vh;
  width: 20vw;
  margin-top: 10vh;
  color: white;
  /* background-color: white; */
}
.paginationItem {
  font-size: 2vw;
  margin: 1vw;
  cursor: pointer;
}
.subjectbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5vh;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10vh;
  width: 20vw;
  margin-top: 10vh;
  /* background-color: white; */
}
.subjectItem {
  font-size: 2vw;
  margin: 1vw;
  cursor: pointer;
}
.studyItems {
  margin-top: 15vh;
}
/* ==========스터디 끝========== */


/* ==========퀴즈 css========== */
.QuizContainer {
  position: absolute;
  top: 5vh;
  left: 25vw;
  width: 70vw;
}

.showingQuiz {
  position: relative;
  height: 60vh;
  width: 70vw;
  border: 0.4em solid #ddfffc;
  margin: 0 auto;
  margin-top: 10vh;
  overflow: scroll;
  background-color: white;
}

.showingQuiz::-webkit-scrollbar {
  width: 0.5vw;
  height: 0;
  background-color: white;
}
.showingQuiz::-webkit-scrollbar-thumb {
  background-color: #a5fffe;
  border-radius: 20px;
}
.showingQuiz::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
  background-color: #ebffff;
}

.quizcomp2 {
  text-align: center;
  height: 10vw;
  border: 0.4em inset #e2fffc;
  margin: 1vw;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}

.quizcomp0 {
  text-align: center;
  height: 10vw;
  border: 0.4em inset #e2fffc;
  margin: 1vw;
  background-color: white;
  cursor: pointer;
}

.quizcomp1 {
  text-align: center;
  height: 10vw;
  border: 0.4em inset #e2fffc;
  margin: 1vw;
  background-color: rgb(0, 0, 255);
  cursor: pointer;
}

.QuizCompnent {
  text-align: center;
  height: 7vw;
  border: 0.4em inset #e2fffc;
  margin: 1vw;
  background-color: white;
  cursor: pointer;
}

.CloseQuiz {
  position: fixed;
  text-align: center;
  top: 17vh;
  font-size: 3vw;
  right: 9vw;
  height: 2vw;
  width: 1vw;
  background-color: white;
  cursor: pointer;
}

.form-chek, .form-radio{display: inline-block; line-height: 20px; vertical-align: middle;}
.form-chek::before, .form-radio::before{content: ""; display: inline-block; width: 10px; height: 10px; background: #ffffff; border: 1px solid #e0e0e0; margin-right: 8px;}
.form-radio::before{border-radius: 50%;}
.input-chek, .input-radio{display: none;}
.input-chek:checked + .form-chek::before, .input-radio:checked + .form-radio::before{background: #749fbb;}
.input-chek:checked + .form-chek, .input-radio:checked + .form-radio{color: #749fbb;}

/* ========면접테스트======== */
.interviewCam {
  position: absolute;
  top: 30vh;
  left: 65vw;
  width: 10vh;
  width: 20vw;
}



/* ========캐릭터들======= */
.springCS{
  position: fixed;
  /* display: none; */
  width: 25vw;
  height: 70vh;
  top: 15vh;
  left: 0vw;
}
.spring{
  position: absolute;
  width: 22vw;
  height: 70vh;
  top: 35vh;
  left: 0vw;
  background: url("../../asset/images/SelfstudyImg/SDspring1.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}
.spring:hover{
  position: absolute;
  width: 22vw;
  height: 70vh;
  top: 30vh;
  left: 0vw;
  background: url("../../asset/images/SelfstudyImg/SDspring2.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}



.fallAlgo {
  position: absolute;
  /* display: none; */
  width: 25vw;
  height: 70vh;
  top: 15vh;
  left: 19.5vw;
}
.fall{
  position: absolute;
  width: 22vw;
  height: 70vh;
  top: 35vh;
  left: 20vw;
  background: url("../../asset/images/SelfstudyImg/SDfall11.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}
.fall:hover{
  position: absolute;
  width: 22vw;
  height: 70vh;
  top: 30vh;
  left: 20vw;
  background: url("../../asset/images/SelfstudyImg/SDfall21.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}



.summerBack {
  position: absolute;
  /* display: none; */
  width: 25vw;
  height: 70vh;
  top: 15vh;
  left: 39vw;
}
.summer{
  position: absolute;
  width: 25vw;
  height: 80vh;
  top: 30vh;
  left: 38vw;
  background: url("../../asset/images/SelfstudyImg/SDsummer1.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}
.summer:hover{
  position: absolute;
  width: 25vw;
  height: 80vh;
  top: 25vh;
  left: 38vw;
  background: url("../../asset/images/SelfstudyImg/SDsummer2.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}



.winterFront{
  position: absolute;
  /* display: none; */
  width: 25vw;
  height: 70vh;
  top: 15vh;
  left: 59vw;
}
.winter{
  position: absolute;
  width: 22vw;
  height: 70vh;
  top: 35vh;
  left: 59vw;
  background: url("../../asset/images/SelfstudyImg/SDwinter1.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}
.winter:hover{
  position: absolute;
  width: 22vw;
  height: 70vh;
  top: 30vh;
  left: 59vw;
  background: url("../../asset/images/SelfstudyImg/SDwinter2.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}



.heroLang{
  position: absolute;
  /* display: none; */
  width: 25vw;
  height: 70vh;
  top: 15vh;
  left: 79vw;
}
.hero{
  position: absolute;
  width: 24vw;
  height: 80vh;
  top: 30vh;
  left: 76vw;
  background: url("../../asset/images/SelfstudyImg/SDhero1.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}
.hero:hover{
  position: absolute;
  width: 24vw;
  height: 80vh;
  top: 25vh;
  left: 76vw;
  background: url("../../asset/images/SelfstudyImg/SDhero2.png") center no-repeat;
  background-size: 100% 100%;
  transition: all ease 0.3s;
  cursor: pointer;
  z-index: 100;
}
