/* ---------------------- Album----------------------- */
.albumBack {
  width: 100vw;
  height: 100vh;
  background-image: url('../../asset/images/Album/AlbumBack.png') ;
  background-position: 'center';
  background-size: cover;
  background-repeat: no-repeat;
}
.albumOpacity {
  opacity: 70%;
}
.albumMenu {
  display: flex;
  color: black;
  justify-content: space-between;
}



/* ----------------------Story Album----------------------- */
/* 앨범 리스트 */
.albumCardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24%, auto));
  width: 95vw;
  height: 83vh;
  /* 중앙정렬 */
  margin: auto;
  overflow-y: auto;
}
.albumCardList::-webkit-scrollbar {
  width: 0.8vw;
  height: 0;
  background-color: grey;
}
.albumCardList::-webkit-scrollbar-thumb {
  background-color: #1a1b1b;
  border-radius: 20px;
}
.albumCardList::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
  background-color: #1a2020;
}

/* 스토리 앨범 타입 변경 */
.albumStoryTypeBtnBack {
  display: flex;
}
.albumStoryTypeBtn {
  width: 5vw;
  height: 10vh;
  opacity: 50%;
}
.albumStoryTypeBtn:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.2s;
}

.albumStoryBtnSel {
  opacity: 100%;
  animation: vibration .4s infinite;
}


/* 앨범 리스트 개별 카드 크기 */
.albumNocard {
  background-image: url('../../asset/images/Album/NoAlbumBack.png');
  background-size: 20vw 35vh;
  background-repeat: no-repeat;
  filter: drop-shadow(0.7vw 0.5vw 0.5vw #c3c3c3);
  width: 20vw;
  height: 35vh;
  margin-top: 4vh;
  margin-left: 2vw ;
  border-radius: 1vw;
}
.albumCard {
  background-image: url('../../asset/images/Album/AlbumStructure.png') ;
  background-size: 20vw 35vh;
  background-repeat: no-repeat;
  position: relative;
  filter: drop-shadow(0.7vw 0.5vw 0.5vw #c3c3c3);
  width: 20vw;
  height: 35vh;
  margin-top: 4vh;
  margin-left: 2vw ;
  border-radius: 1vw;
}
.albumCard:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: 0.2s;
}
/* 앨범의 개별 이미지 */
.albumImg {
  position: absolute;
  top: 12%;
  left: 12.5%;
  margin-top: 0.5vh;
  width: 75%;
  height: 50%;
  border-radius: 10px;
}
.albumDetail {
  border: 15px solid transparent;
  /* url이미지, slice 순서는 top right bottom */
  border-image: url('../../asset/images/Album/AlbumDetailStructure.png') 30;
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 80vw;
  height: 90vh;
  z-index: 1;
  border-radius: 5px;
  filter: drop-shadow(0.7vw 0.5vw 0.5vw #c3c3c3);
}

/* 앨범 이름 */
.albumTitle {
  position: absolute;
  width: auto;
  font-size: 25px;
  margin: 0.5vw;
  left: 10%;
  top: 74%;
}
/* 앨범 레이팅 */
.albumRating {
  position: absolute;
  width: 4vw;
  height: 3.5vh;
  right: 10%;
  top: 75%;
}



/* ----------------------Selection Album----------------------- */


.GetAlbum {
  background-image: url('../../asset/images/Album/AlbumCover.png') ;
  background-position: 'center';
  background-size: cover;
  background-repeat: no-repeat;
}
/* GetAlbum */
.GetAlbumBack {
  position: absolute;
  top: 25vh;
  left: 36vw;
  width: 60vw;
  height: 50vh;
}
/* 앨범 커버 흔들기 */
.GetAlbumCover {
  animation: vibration .15s infinite;
}
@keyframes vibration {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/* 펴친 책 */
.GetAlbumOpenBook {
  position: absolute;
  width: 60vw;
  height: 20vh;
  bottom: 1vh;
  left: 20vw;
  z-index: 1;
}

/* 이미지 */
.GetAlbumImgTransfer {
  position: absolute;
  top: 20%;
  left: 40%;
  z-index: 2;
  width: 20vw;
  height: 50vh;
  border: 3px gold double;
  border-radius: 5px;
  animation: riseCard 1.5s ease-out forwards;
}
/* 뿌연 상황에서 올라감 */
@keyframes riseCard {
  0% { transform: translateY(100%); filter: brightness(800%); }
  100% { transform: translateY(0);   }
}
.GetAlbumImg {
  width: 100%;
  height: 90%;
  border-radius: 5px;
}
.GetAlbumTitle {
  font-size: 2vw;
  color: gold;
  text-align: center;
  margin: auto;
}

/* 이미지 목표 */
.GetAlbumImgEnd {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-25%, -25%);
}