.interviewBack {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.interviewBack::after {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../asset/images/Interview/InterviewBack.png');
}

.interviewTitle{
  position: absolute;
  top: 5vh;
  left: 15vw;
  font-size: 3vw;
  color: white;
  background-color: blue;
  width: max-content;
  vertical-align: middle;
  border-radius: 5px;
}
.InterviewMainBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 5vw;
  height: 10vh;
  cursor: pointer;
}
.InterviewMainBtn:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.2s;
}

.Interviewer1 {
  position: absolute;
  top: 15vh;
  left: 20vw;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.Interviewer2 {
  position: absolute;
  top: 15vh;
  left: 45vw;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.Interviewer3 {
  position: absolute;
  top: 15vh;
  left: 70vw;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.InterviewerNoSpeach {
  opacity: 0.8;
}

.interviewScriptBack {
  position: absolute;
  left: 10vw;
  bottom: 4vh;
  width: 60vw;
  height: min(25vw * 0.75, 400px);
  background-color: white;
  border-radius: 65px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
  /* border: 20px solid transparent;
  border-image: url('../../asset/images/Interview/ChatStructure.png') 30; */
}

.InterviewerName {
  margin-left: 2vw;
  margin-top: 2vh;
  font-size: 3vw;
}
.InterviewContent {
  margin-left: 1vw;
  font-size: 1.5vw;
  margin-top: 1vh;
  width: 58vw;
  height: 25vh;
}
.interviewScriptNextBtn{
  position: absolute;
  bottom: 1vh;
  right: 2vw;
  cursor: pointer;
  padding: 1vh;
  background-color: red;
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}

/* 100(가로): 75(세로) */
.interviewWebCam {
  position: absolute;
  width: min(25vw, 400px);
  right: 2vw;
  bottom: 4vh;
  padding: 10;
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
  border: 3px double navy;
  /* url이미지, slice 순서는 top right bottom */
}

.interviewCaptureImg {
  position: absolute;
  visibility: hidden;
}