.interviewBack {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.interviewBack::after {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -2;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../asset/images/Interview/InterviewBack.png');
}
.interviewShowOpacity {
  opacity: 0.1;
}


.interviewTitle{
  position: absolute;
  top: 2vh;
  left: 15vw;
  font-size: 3vw;
  color: white;
  background-color: blue;
  width: max-content;
  vertical-align: middle;
  border-radius: 5px;
}
.InterviewMainBtn {
  position: absolute;
  top: 2vh;
  right: 1vw;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
  z-index: 10000;
}
.InterviewMainBtn:hover {
  transform: scale(1.05);
}
.InterviewMainBtn:active {
  top: 6%;
}

.InterviewerBack {
  position: absolute;
  top: 12.5vh;
  left: 10vw;
  width: 80vw;
  height: 50vh;
}
.InterviewerBack::after {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: ivory;
  border-radius: 20px;
  border: 5px solid black;

}
.Interviewer1 {
  position: absolute;
  left: 2vw;
  top: 2vh;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.Interviewer2 {
  position: absolute;
  top: 2vh;
  left: 30vw;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.Interviewer3 {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.InterviewerNoSpeach {
  opacity: 0.8;
}

.interviewScriptBack {
  position: absolute;
  left: 10vw;
  bottom: 4vh;
  width: calc(80vw - 363px - 2vw);
  height: 30vh;
  background-color: white;
  border-radius: 65px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
  /* border: 20px solid transparent;
  border-image: url('../../asset/images/Interview/ChatStructure.png') 30; */
}

.InterviewerName {
  margin-left: 2vw;
  margin-top: 2vh;
  font-size: 3vw;
}
.InterviewContent {
  margin-left: 1vw;
  font-size: 1.5vw;
  margin-top: 1vh;
  width: 58vw;
  height: 25vh;
}
.interviewScriptNextBtn{
  position: absolute;
  bottom: 1vh;
  right: 2vw;
  cursor: pointer;
  padding: 1vh;
  background-color: red;
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}

/* 100(가로): 75(세로) */
.interviewWebCam {
  position: absolute;
  height: 30vh;
  right: 10vw;
  bottom: 4vh;
  padding: 10;
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
  border: 3px double navy;
  /* url이미지, slice 순서는 top right bottom */
}
.interviewHidden {
  visibility: hidden;
}

.interviewCaptureImg {
  position: absolute;
  width: 10vw;
  height: 15vh;
  /* visibility: hidden; */
}
.interviewCaptureFile {
  position: absolute;
  bottom: 0;
}


/*------------------------ Check ------------------------------------- */
.InterviewCheckBack {
  width: 100%;
  height: 90vh;
  text-align: center;
  background-color: beige;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.9);
}
.InterviewCheckTitle{
  margin-top: 2vh;
  font-size: 40px;
}

.InterviewCheckCam {
  margin-top: 3vh;
  width: 400px;
  border: 2px double black;
}
.InterviewCheckInfoBack {
  background-image: url('../../asset/images/Interview/Check/CheckContent.png');
  background-position: center;
  background-size: 90% 40vh;
  background-repeat: no-repeat;
  margin-left: 1%;
  width: 100%;
  height: 40vh;
}
.interviewCheckStage {
  margin-left: 55%;
  padding-top: 15%;
  width: 40%;
  font-size: 40px;
  color: navy;
}

.interviewCheckInfo {
  color: navy;
  /* 상 좌 하 우 */
  padding-top: 5%;
  padding-left: 10%;
  width: 91%;
  height: 50%;
  font-size: 25px;
}

.interviewCheckVoiceContent {
  display: block;
  padding: auto;
  padding-top: 1.5vh;
  color: pink;
}

.interviewCheckFighting {
  margin-top: 15vh;
  font-size: 50px;
  color: darkviolet;
}

.interviewCheckBtn {
  /* 상 좌 하 우 */
  margin: 1vh auto 2vh auto;
  padding: 0.2vw;
  bottom: 0;
  font-size: 30px;
  width: max-content;
  height: max-content;
  background-color: pink;
  border-radius: 5px;
  border: 0;
  vertical-align: 0%;
  cursor: pointer;
}
.interviewCheckBtn:hover {
  transform: scale(1.05);
}

.interviewCheckBtnLoding {
  margin: 1vh auto 2vh auto;
  padding: 0.2vw;
  bottom: 0;
  font-size: 30px;
  width: max-content;
  height: max-content;
  background-color: pink;
  border-radius: 5px;
  border: 0;
  vertical-align: 0%;
}


.interviewCheckRec {
  /* 상 좌 하 우 */
  margin: 10vh auto 2vh auto;
  padding: 0.2vw;
  bottom: 0;
  font-size: 30px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.interviewCheckRec:hover {
  transform: scale(1.05);
}

.interviewStartBtn {
  margin: 10vh auto 2vh auto;
  padding: 1vw;
  bottom: 0;
  font-size: 30px;
  width: max-content;
  height: max-content;
  background-color: pink;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.9);
}
.interviewStartBtn:hover {
  transform: scale(1.05);
}