.interviewBack {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.interviewBack::after {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -2;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../asset/images/Interview/InterviewBack.png');
}

.interviewTitle{
  position: absolute;
  top: 2vh;
  left: 15vw;
  font-size: 3vw;
  color: ivory;
  width: max-content;
  vertical-align: middle;
  border-radius: 5px;
  /* 텍스트 보더 느낌 */
  text-shadow: 2px 2px black;
}
.InterviewMainBtn {
  position: absolute;
  top: 2vh;
  right: 1vw;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
  z-index: 10000;
}
.InterviewMainBtn:hover {
  transform: scale(1.05);
}
.InterviewMainBtn:active {
  top: 6%;
}

.InterviewerBack {
  position: absolute;
  top: 12.5vh;
  left: 10vw;
  width: 80vw;
  height: 50vh;
}
.InterviewerBack::after {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  border: 10px solid black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../asset/images/Interview/InterviewerBack.png');
}
.Interviewer1 {
  position: absolute;
  left: 2vw;
  top: 2vh;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.Interviewer2 {
  position: absolute;
  top: 2vh;
  left: 30vw;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.Interviewer3 {
  position: absolute;
  top: 2vh;
  right: 2vw;
  width: 20vw;
  height: 45vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.InterviewerNoSpeach {
  opacity: 0.5;
}

.interviewScriptBack {
  position: absolute;
  left: 10vw;
  bottom: 4vh;
  width: calc(80vw - 363px - 7vh);
  height: 30vh;
  border-radius: 10px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
  border: 20px solid transparent;
  background-color: white;
  border-image: url('../../asset/images/Interview/ScriptBorder.png') 30;
}
.InterviewTimer{
  position: absolute;
  top: 2vh;
  left: calc(50vw - 4.5vh);
  margin: auto;
  color: red;
  font-size: 4.5vh;
  background-color: white;
  padding: 0.3vh 2vh 0.3vh 2vh;
  border: black double 5px;
  border-radius: 10px;
}
.InterviewTimerWarning {
  animation: warning infinite 0.5s;
  border: red double 5px;
}
@keyframes warning {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.InterviewerName {
  /* 상 우 하 좌(시계방향) */
  position: absolute;
  left: 8vw;
  bottom: 29.1vh;
  margin: 0.8vh 0 0.5vh 1vw;
  padding: 0.2vh;
  font-size: 2.5vh;
  z-index: 1;
  width: max-content;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 15px solid transparent;
  border-image: url('../../asset/images/Interview/NameBorder.png') 40;
}
.InterviewContent {
  margin: 4vh 0 0 2vw;
  width: calc(80vw - 363px - 7vh -4vw);
  font-size: 1.8vw;
  height: 20vh;
}
.interviewQuestion {
  margin: 4vh 0 0 2vw;
  width: calc(80vw - 363px - 7vh -4vw);
  font-size: 2vw;
  color: navy;
  height: 20vh;
}

.interviewNextBtn {
  position: absolute;
  bottom: 1vh;
  right: 2vw;
  cursor: pointer;
  width: 8vw;
  height: 5vh;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.interviewNextBtn:hover {
  transform: scale(1.1);
}

.interviewScriptBtn{
  position: absolute;
  bottom: 1vh;
  right: 2vw;
  cursor: pointer;
  padding: 1vh;
  background-color: red;
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}

/* 100(가로): 75(세로) */
.interviewWebCam {
  position: absolute;
  height: 30vh;
  right: 10vw;
  bottom: 4vh;
  padding: 10;
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
  border: 3px double navy;
  /* url이미지, slice 순서는 top right bottom */
}
.interviewHidden {
  visibility: hidden;
}

.interviewCaptureImg {
  position: absolute;
  width: 10vw;
  height: 15vh;
  /* visibility: hidden; */
}
.interviewCaptureFile {
  position: absolute;
  bottom: 0;
}


/*------------------------ Check ------------------------------------- */
.InterviewModalBack {
  width: 100%;
  height: min(93vh, 931px);
  text-align: center;
  border: 20px solid transparent;
  border-image: url('../../asset/images/Interview/ScriptBorder.png') 30;
  overflow: auto;
}

.InterviewModalBack::-webkit-scrollbar {
  display: none;
}

.InterviewCheckTitle{
  margin-top: 2vh;
  font-size: 40px;
}

.InterviewCheckCam {
  margin-top: 5vh;
  width: 400px;
  border: 2px double black;
}
.InterviewCheckInfoBack {
  background-image: url('../../asset/images/Interview/Check/CheckContent.png');
  background-position: center;
  background-size: 90% 40vh;
  background-repeat: no-repeat;
  margin-left: 1%;
  width: 100%;
  height: 40vh;
}
.interviewCheckStage {
  margin-left: 55%;
  padding-top: 9vh;
  width: 40%;
  font-size: 35px;
  color: navy;
}

.interviewCheckInfo {
  color: navy;
  padding-top: 5%;
  padding-left: 10%;
  width: 91%;
  height: 50%;
  font-size: 25px;
}


.interviewCheckLoding {
  color: navy;
  /* 상 좌 하 우 */
  padding-top: 10%;
  padding-left: 10%;
  width: 91%;
  height: 50%;
  font-size: 50px;
}

.interviewCheckVoiceContent {
  display: block;
  padding: auto;
  padding-top: 1vh;
  font-size: 3vh;
  color: gold;
}

.interviewCheckFighting {
  width: 80%;
  height: 30vh;
  color: darkviolet;
}

.interviewCheckBtn {
  /* 상 좌 하 우 */
  margin: auto auto auto auto;
  padding: 0.2vw;
  bottom: 0;
  font-size: 30px;
  width: max-content;
  height: max-content;
  background-color: pink;
  border-radius: 5px;
  border: 0;
  vertical-align: 0%;
  cursor: pointer;
  color: white;
}
.interviewCheckBtn:hover {
  transform: scale(1.05);
  background-color: darkred;

}

.interviewCheckBtnLoding {
  margin: 2.5vh auto auto auto;
  padding: 0.2vw;
  bottom: 0;
  font-size: 30px;
  width: max-content;
  height: max-content;
  border-radius: 5px;
  border: 0;
  vertical-align: 0%;
  color: navy;
}


.interviewCheckRec {
  /* 상 좌 하 우 */
  margin: 10vh auto 2vh auto;
  padding: 0.2vw;
  bottom: 0;
  font-size: 30px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.interviewCheckRec:hover {
  transform: scale(1.05);
}

.interviewStartBtn {
  margin: 1.5vh auto auto auto;
  padding: 1vw;
  bottom: 0;
  font-size: 30px;
  width: max-content;
  height: max-content;
  background-color: pink;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.9);
  color: white;
}
.interviewStartBtn:hover {
  transform: scale(1.05);
  background-color: darkred
}


/*------------------------ Result ------------------------------------- */

.interviewResultImg {
  width: 80%;
  height: 75%;
}

.interviewResult {
  display: block;
  margin: 3% auto auto auto;
  width: 12%;
  height: 10%;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
  padding: 2%;
  cursor: pointer;
}
.interviewResult:hover {
  transform: scale(1.05);
}