.transition {
  animation: routerMove 2s;
}

@keyframes routerMove {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}


body {
  overflow: hidden;
}

/* body태그의 가상선택자를 이용한다 */
body::after{
	/* 소스만 다운받고 화면은 나태내지 않는다. (숨김 처리) */
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1;
    
    /* load images */
    content:

    /* 메인 */
    url(./asset/images/Main/mainSpringBackground.png) 
    url(./asset/images/Main/mainSummerBackground.png) 
    url(./asset/images/Main/mainFallBackground.png) 
    url(./asset/images/Main/mainWinterBackground.png)
    url(./asset/images/Main/developermakerLogo.png)
    url(./asset/images/Main/muted.png)
    url(./asset/images/Main/playing.png)


    /* 인게임 */
    url(./pages/Game/deleteSlot.png)
    url(./pages/Game/gaeul_gameslot2.png)
    url(./pages/Game/gaeul_gameslot2smile.png)
    url(./pages/Game/library.png)
    url(./pages/Game/seobom_gameslot1.png)
    url(./pages/Game/seobom_gameslot1smile.png)
    url(./pages/Game/speechBubble.png)
    url(./pages/Game/gameloadCharInfoBtn.png)


    /* 자율학습 */
    url(./asset/images/SelfstudyImg/CsStudyBackground.png)
    url(./asset/images/SelfstudyImg/homeBtn.png)
    url(./asset/images/SelfstudyImg/interviewTestBtn.png)
    url(./asset/images/SelfstudyImg/SDfall1.png)
    url(./asset/images/SelfstudyImg/SDfall2.png)
    url(./asset/images/SelfstudyImg/SDhero1.png)
    url(./asset/images/SelfstudyImg/SDhero2.png)
    url(./asset/images/SelfstudyImg/SDspring1.png)
    url(./asset/images/SelfstudyImg/SDspring2.png)
    url(./asset/images/SelfstudyImg/SDsummer1.png)
    url(./asset/images/SelfstudyImg/SDsummer2.png)
    url(./asset/images/SelfstudyImg/SDwinter1.png)
    url(./asset/images/SelfstudyImg/SDwinter2.png)
    url(./asset/images/SelfstudyImg/selfstudyBtn.png)
    url(./asset/images/SelfstudyImg/speechBalloon.png)


    /* 앨범 */
    url(./asset/images/Album/AlbumBack.png)
    url(./asset/images/Album/AlbumDetailStructure.png)
    url(./asset/images/Album/AlbumStructure.png)
    url(./asset/images/Album/NewAlbumLogo.png)
    url(./asset/images/Album/NoAlbumImg.png)
    url(./asset/images/Album/TypeChoiceBtn.png)
    url(./asset/images/Album/Head/Head0.png)
    url(./asset/images/Album/Head/Head1.png)
    url(./asset/images/Album/Head/Head2.png)
    url(./asset/images/Album/Head/Head3.png)
    /* url(./asset/images/Album/Collection/21.png)
    url(./asset/images/Album/Collection/22.png)
    url(./asset/images/Album/Collection/23.png)
    url(./asset/images/Album/Collection/24.png)
    url(./asset/images/Album/Collection/25.png)
    url(./asset/images/Album/Collection/26.png)
    url(./asset/images/Album/Collection/27.png)
    url(./asset/images/Album/Collection/28.png) */

    /* url(./asset/images/Album/RatingLogo/BronzeLogo.png)
    url(./asset/images/Album/RatingLogo/SilverLogo.png)
    url(./asset/images/Album/RatingLogo/GoldLogo.png) */


    /* 마이페이지 */
    url(./asset/images/Profile/ProfileBack.png)
    url(./asset/images/Profile/NameBackground.png)
    url(./asset/images/Profile/NameChangeBackground.png)
    url(./asset/images/Profile/Profile.png)
    url(./asset/images/Profile/Profile.png)
    url(./asset/images/Profile/Ranking/RankingBtn.png)



    /* 필요한 이미지 소스들 다운 */
}


.transition-group {
  position: relative;
}

.pageSlider-enter {
  transform: translateX(-100vw);
  opacity: 0.7;
  /* background-color: rgba(255, 255, 255, 0); */
  transform: scale(1);
}

.pageSlider-enter-active {
  transform: translateX(0vw);
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 1); */
  transform: scale(1);
  animation: routerMove 500;
  transition: opacity 500ms, transform 500ms;
  /* transition: opacity 1000ms, transform 1000ms; */
}

.pageSlider-exit {
  transform: translateX(0vw);
  opacity: 1;
  /* background-color: rgba(255, 255, 255, 1); */
  transform: scale(1);
}

.pageSlider-exit-active {
  transform: translateX(100vw);
  opacity: 0;
  /* background-color: rgba(255, 255, 255, 0); */
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
  /* transition: opacity 1000ms, transform 1000ms; */
}

/* bgm컨트롤 */
.muted {
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  width: 4vw;
  height: 4vw;
  background: url(./asset/images/Main/muted.png) center no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2000;
  transition: all ease 0.15s;
}
.muted:hover {
  transform: scale(1.1);
}
.playing {
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  width: 4vw;
  height: 4vw;  
  background: url(./asset/images/Main/playing.png) center no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2000;
  transition: all ease 0.15s;
}
.playing:hover {
  transform: scale(1.1);
}