/* body태그의 가상선택자를 이용한다 */
body::after{
	/* 소스만 다운받고 화면은 나태내지 않는다. (숨김 처리) */
    position:absolute; 
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1;
    
    /* load images */
    content:

    /* 인게임 나중 */
    url(./charInfo1.png)
    url(./charInfo2.png)
    url(./charInfo3.png)
    url(./charInfo4.png)
    url(../Story/checkLikeTitle.png)
    url(../Story/gaeulLikeIcon.png)
    url(../Story/geowolLikeIcon.png)
    url(../Story/goSelfstudyBubble.png)
    url(../Story/Hamburger.png)
    url(../Story/homeIcon.png)
    url(../Story/likeValueIcon.png)
    url(../Story/nowSlot.png)
    url(../Story/optionBackground.png)
    url(../Story/optionBackground2.png)
    url(../Story/saveIcon.png)
    url(../Story/seobom_nonpass.png)
    url(../Story/seobomLikeIcon.png)
    url(../Story/slot.png)
    url(../Story/storyGoAlert.png)
    url(../Story/talkingTab.png)
    url(../Story/yeoreumLikeIcon.png)

    url(../../../public/storyImages/a.png)
    url(../../../public/storyImages/bus.png)
    url(../../../public/storyImages/cafe.png)
    url(../../../public/storyImages/cafeteria.png)
    url(../../../public/storyImages/classroom.png)
    url(../../../public/storyImages/donguk.png)
    url(../../../public/storyImages/fin.png)
    url(../../../public/storyImages/gaeul.png)
    url(../../../public/storyImages/hojune.png)
    url(../../../public/storyImages/home.png)
    url(../../../public/storyImages/hotelconference.png)
    url(../../../public/storyImages/hotellobby1.png)
    url(../../../public/storyImages/hotelrestaurant.png)
    url(../../../public/storyImages/hyojae.png)
    url(../../../public/storyImages/hyunwoo.png)
    url(../../../public/storyImages/jehak.png)
    url(../../../public/storyImages/jeonghyun.png)
    url(../../../public/storyImages/jihyun.png)
    url(../../../public/storyImages/joonsik.png)
    url(../../../public/storyImages/koreanbarbaque.png)
    url(../../../public/storyImages/lobby.png)
    url(../../../public/storyImages/maincharacter.png)
    url(../../../public/storyImages/namhansol.png)
    url(../../../public/storyImages/ohamin.png)
    url(../../../public/storyImages/pro.png)
    url(../../../public/storyImages/road.png)
    url(../../../public/storyImages/seobom.png)
    url(../../../public/storyImages/seobom_main.png)
    url(../../../public/storyImages/seohansol.png)
    url(../../../public/storyImages/seosang.png)
    url(../../../public/storyImages/ship.png)
    url(../../../public/storyImages/shiproom.png)
    url(../../../public/storyImages/summer.png)
    url(../../../public/storyImages/sunchakjang.png)
    url(../../../public/storyImages/winter.png)

    /* 필요한 이미지 소스들 다운 */
}


.speechBubbleText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gameloadMain {
  width: 100vw;
  height: 100vh;
  background-image: url("./library.png");
  background-size: cover;
  background-position: center;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}