@font-face {
  font-family: "Lobster";
  src: url("../../asset/fonts/Lobster-Regular.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("../../asset/fonts/Pacifico-Regular.ttf");
}

.MainContainerWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.MainContainer {
  position: absolute;
  /* display: flex; */
  /* flex-direction: row; */
  width: 106vw;
  height: 106vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
  animation: bgMove 28s infinite, changeImg 28s infinite;
}

.backFlow {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  animation: bright 7s infinite;
}
/* @keyframes wave {
  0% { transform: translate(-50%) rotate(-180deg); }
  100% { transform: translate(-50%) rotate(360deg); } 
}  */




.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: 500px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: 550px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

@keyframes bgMove {
  0%, 100% {
   
    top: -6vh;
    left: -6vw;
  }
  25% {
    top: 0vh;
    left: 0vw; 
  }
  50% {
    top: 0vh;
    left: -6vw; 
  }
  75% {
    top: -6vh;
    left: 0vw; 
  }
}

@keyframes bright {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  10% {
    background-color: rgba(255, 255, 255, 0);
  }
  90% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@keyframes changeImg {
  /* 봄 */
  1% {
    background-image: url("../../asset/images/Main/mainSpringBackground.png");
  }
  /* 봄 */
  24% {
    background-image: url("../../asset/images/Main/mainSpringBackground.png");
  }
  /* 여름 */
  26% {
    background-image: url("../../asset/images/Main/mainSummerBackground.png");
  }
  /* 여름 */
  49% {
    background-image: url("../../asset/images/Main/mainSummerBackground.png");
  }
  /* 가을 */
  51% {
    background-image: url("../../asset/images/Main/mainFallBackground.png");
  }
  /* 가을 */
  74% {
    background-image: url("../../asset/images/Main/mainFallBackground.png");
  }
  /* 겨울 */
  76% {
    background-image: url("../../asset/images/Main/mainWinterBackground.png");
  }
  /* 겨울 */
  99% {
    background-image: url("../../asset/images/Main/mainWinterBackground.png");
  }
}

.MainFormWrapper {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 255, 255, 0.4); */
}

.MainLayoutWrapper {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}
.MainLogo {
  margin-top: 10%;
  height: 35%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}
