/* ---------------------- Profile----------------------- */
.ProfileBack {
  position: relative;
  width: 100vw;
  height: 100vh;
}
/* ::before 는 가상요소로 그 내용은 content, 그외의 요소들을 입력(배경만 투명도 낮출 때) */
.ProfileBack::after {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: -1;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../asset/images/Profile/ProfileBack.png");
}

/* UserInfo */
.ProfileUserInfo {
  position: absolute;
  top: 10vh;
  left: 8vw;
  width: 20vw;
  height: 20* 1.5vw;
  border-radius: 5px;
  background-color: antiquewhite;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.ProfileLogoImg {
  /* 중앙정렬 */
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: block;
  width: 17vw;
  height: 17vw * 0.2;
}
.ProfileUserInfoImg {
  /* 중앙정렬 */
  margin: auto;
  margin-top: 2vh;
  display: block;
  width: 10vw;
  height: 20vh;
}
.ProfileUserInfoData {
  margin: auto;
  padding: 0.1vw;
  margin-top: 1.5vh;
  padding: 0.2vh;
  width: max-content;
  height: 3vh;
  font-size: 1vw;
  background-color: pink;
  color: white;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}
.ProfileUserInput {
  display: block;
  margin: auto;
  height: 3vh;
  margin-top: 1.5vh;
  background-color: pink;
  color: white;
  border-radius: 5px;
}
.ProfileUserInfoBtn {
  margin-top: 1.5vh;
  margin-left: auto;
  float: right;
}

/* Chart */
.ProfileProgressChart {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 10vh;
  left: 30vw;
  width: 60vw;
  height: 40vh;
  background-color: antiquewhite;
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.ProfileChart {
  width: 15vw;
  margin-left: 1vw;
  align-self: center;
}
.ProfileStoryTitle {
  font-size: 1.5vw;
  text-align: center;
  color: #003B95;
  max-width: 100%;
}
.ProfileStudyTitle {
  font-size: 1.5vw;
  text-align: center;
  color: #D40000;
}

.ProfileRadicalChart {
  margin: auto;
  width: 20vw;
}

.ProfileLikeBtn {
  margin: 0.2vw;
  width: max-content;
  padding: 1vh;
  background-color: pink;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  color: white;
}
.ProfileLikeBtnSel {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.2s;
  opacity: 1;
}

.ProfileLikeChartBack {
  position: absolute;
  top: 55vh;
  left: 30vw;
  width: 60vw;
  height: 40vh;
}
.ProfileLikeChart {
  width: 60vw;
  height: 35vh;
  margin: auto;
  background-color: antiquewhite;
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.ProfileLikeNoData {
  position: absolute;
  top: 50%;
  left: 40%;
  padding: 1vh;
  width: max-content;
  height: max-content;
  font-size: 1vw;
  background-color: pink;
  color: white;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}
.ProfileLikeTitle {
  padding-top: 2vh;
  margin-bottom: 0;
  font-size: 1.5vw;
  text-align: center;
  color: purple
}
.ProfileLikeChartsize {
  margin: auto;
  vertical-align: 50;
  /* width: max(26vw, 467px); */
  width: 30vw;
  height:25vh;
  font-size: 1.5vw;
}

.ProfileMainBtn {
  position: absolute;
  left: 8vw;
  bottom: 5vh;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
}
.ProfileMainBtn:hover {
  transform: scale(1.05);
}
.InterviewMainBtn:active {
  top: 6%;
}



.ProfileDelete {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.ProfileDeleteImg {
  width: 5vw;
  height: 7vh;
}

