/* ---------------------- Profile----------------------- */
.ProfileBack {
  position: relative;
  width: 100vw;
  height: 100vh;
}
/* ::before 는 가상요소로 그 내용은 content, 그외의 요소들을 입력(배경만 투명도 낮출 때) */
.ProfileBack::after {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  z-index: -1;
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../asset/images/Profile/ProfileBack.png");
}

/* UserInfo */
.ProfileUserInfo {
  position: absolute;
  top: 10vh;
  left: 8vw;
  width: 20vw;
  height: 20* 1.5vw;
  border-radius: 5px;
  /* background-color: antiquewhite; */
  background-color: rgba(250, 235, 215, 0.4);
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.ProfileLogoImg {
  /* 중앙정렬 */
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: block;
  width: 17vw;
  height: 17vw * 0.2;
}
.ProfileUserInfoImg {
  /* 중앙정렬 */
  margin: auto;
  margin-top: 2vh;
  display: block;
  width: 10vw;
  height: 20vh;
  transition: all ease 0.3s;
  cursor: pointer;
  border-radius: 5%;
}
.ProfileUserInfoImg:hover {
  transform: scale(1.05);
}

.ProfileUserInfoData {
  margin: auto;
  margin-top: 1.5vh;
  padding: 1vh 1vw;
  width: max-content;
  height: 4vh;
  font-size: 1vw;
  /* background-color: pink; */
  /* background-color: rgb(133, 113, 82); */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../asset/images/Profile/NameBackground.png");
  color: white;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}
.ProfileUserInput {
  display: block;
  margin: auto;
  height: 4vh;
  margin-top: 1.5vh;
  /* background-color: pink; */
  /* background-color: rgb(133, 113, 82); */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../asset/images/Profile/NameChangeBackground.png");
  color: white;
  border-radius: 5px;
}
.ProfileUserInfoBtn {
  margin-top: 1.5vh;
  margin-left: auto;
  float: right;
  transition: all ease 0.2s;
}
.ProfileUserInfoBtn:hover {
  transform: scale(1.1);
}

/* Chart */
.ProfileProgressChart {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 10vh;
  left: 30vw;
  width: 60vw;
  height: 40vh;
  /* background-color: antiquewhite; */
  background-color: rgba(250, 235, 215, 0.4);
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.ProfileChart {
  width: 15vw;
  margin-left: 1vw;
  align-self: center;
}
.ProfileStoryTitle {
  font-size: 1.5vw;
  text-align: center;
  color: #d04e4e;
  max-width: 100%;
}
.ProfileStudyTitle {
  font-size: 1.5vw;
  text-align: center;
  color: #4c94ff;
}

.ProfileRadicalChart {
  margin: auto;
  width: 20vw;
}

.ProfileLikeBtn {
  /* 상-우-하-좌 or 상-좌우-하 or 상하-좌우 or 상하좌우 */
  margin: 0.2vw;
  width: max-content;
  padding: 1vh;
  /* background-color: pink; */
  /* background-color: rgb(133, 113, 82); */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../asset/images/Profile/NameBackground.png");
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  color: white;
  transition: all ease 0.1s;
}
.ProfileLikeBtn:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.2s;
  opacity: 1;
}
.ProfileLikeBtnSel {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: 0.2s;
  opacity: 1;
}

.ProfileLikeChartBack {
  position: absolute;
  top: 55vh;
  left: 30vw;
  width: 60vw;
  height: 40vh;
}
.ProfileLikeChart {
  width: 60vw;
  height: 35vh;
  margin-top: 0.5vh;
  /* background-color: antiquewhite; */
  background-color: rgba(250, 235, 215, 0.4);
  border-radius: 5px;
  filter: drop-shadow(6px 4px 4px #c3c3c3);
}
.ProfileLikeNoData {
  position: absolute;
  top: 40%;
  left: 30%;
  padding: 2vh;
  width: max-content;
  height: max-content;
  font-size: 1.5vw;
  /* background-color: pink; */
  /* background-color: rgb(135, 108, 68); */
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../asset/images/Profile/NameBackground.png");
  color: white;
  border-radius: 5px;
  text-align: center;
  vertical-align: center;
}
.ProfileLikeTitle {
  padding-top: 2vh;
  margin-bottom: 0;
  font-size: 1.5vw;
  text-align: center;
  color: #A97155;
}
.ProfileLikeChartsize {
  margin: auto;
  vertical-align: 50;
  /* width: max(26vw, 467px); */
  width: 30vw;
  height:25vh;
  font-size: 1.5vw;
}

/* .ProfileMainBtn {
  position: absolute;
  left: 8vw;
  bottom: 5vh;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
}
.ProfileMainBtn:hover {
  transform: scale(1.05);
}
.InterviewMainBtn:active {
  top: 6%;
} */
.ProfileMainBtn {
  position: absolute;
  top: 5vh;
  right: 2vw;
  height: 12vh;
  width: 12vh;
  overflow: hidden;
  background: url(../../asset/images/SelfstudyImg/homeBtn.png) center no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: all ease 0.1s;
}
.ProfileMainBtn:hover {
  transform: scale(1.05);
}
.ProfileMainBtn:active {
  top: 6%;
}


.ProfileDelete {
  position: absolute;
  bottom: 0;
  right: 20vh;
  cursor: pointer;
  color: beige;
  opacity: 0.8;
}
.ProfileDeleteImg {
  width: 4vw;
  height: 7vh;
}

.Bar {
  font-family: 'Jua', sans-serif;
}

.RankingBtn {
  position: absolute;
  width: 16vw;
  height: 22vh;
  bottom: 8vh;
  left: 10vw;
  background-color: #4c94ff;
  cursor: pointer;
  transition: all ease 0.3s;
}
.RankingBtn:hover {
  transform: scale(1.05);
  transition: all ease 0.3s;
}
.closeRanking {
  position: absolute;
  width: 10vw;
  height: 10vh;
  text-align: center;
  font-size: 7vh;
  top: 6vh;
  left: 45vw;
  color: white;
  cursor: pointer;
  transition: all ease 0.3s;
}
.closeRanking:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
}